.read-book .breadcrumb li {
	 display: inline-block;
	 margin-left: 70px;
}

.read-book .breadcrumb li a{
	 font-size: 2rem;
}

.read-book .breadcrumb li.active {
    color: #000;
}

.read-book .breadcrumb>ul {
    float: left;
}

.read-book .breadcrumb li {
    font-size: 16px;
    font-weight: 300;
}

.read-book .breadcrumb li::after {
    content: "/";
    display: inline-block;
    height: 15px;
    margin: 0;
    width: 30px;
    color: #808080;
}

.read-book .breadcrumb li:last-child::after {
    content: "";
    display: inline-block;
    height: 15px;
    margin: 0;
    width: auto;
}
